<h1>Test#index</h1>

<ul>
  <% @testlist.each do|test| %>
    <li>
<!-- link_to generates URL from test.title-->
      <%= link_to test.title, test%>
      <%= link_to test.title, edit_test %> 
    </li>
  <% end %>
</ul>



